*{
    margin: 0;
  }
  body {
    font-size: 21px;
  }
  
  nav {
    background-color: #1beca7;
    line-height: 3em;
    }
  nav a {
    color: white;
  }
  header{
    background-color: #16e47d;
  }
  a {
    text-decoration: none;
    color: white;
  }
  footer {
    background-color: #15d37a;
  }
  footer ul {
    list-style-type: none;
  }
  footer a {
    color: white;
  }